/* #Functions calculator */


/* body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding-left: 12px;
}

p {
    font-family: poppins;
    color: white;
} */


/* Subscibe and Amazon shipping calculator */


/* .div1 {
    margin-bottom: 15px;
}
.js_b{
    background-color: black;
    padding: 12px 16px;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px;
}
.is_subscribed{
    background-color: #F0F0F0;
    color: black;
}
.i{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-size: 17px;
}
.calculate{
padding: 15px;
border: none;
background-color: #008000;
font-size: 15px;
color: white;
cursor: pointer;
} */


/*(Separated file)  Rock Paper Scissor Game */


/* .is_toggled1,
.is_toggled2,
.is_toggled3{
    background-color: rgb(67, 67, 230);
    color: aquamarine;
}
.js_button1,
.js_button2,
.js_button3{
    border: none;
    margin-top: 20px;
    cursor: pointer;
    padding: 12px 30px 12px 30px;
    border-radius: 80px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
} */


/* Lesson 11 #Arrays and Loops */


/* Lesson 11 #Arrays */


/* #Arrays Exercises */


/* (Separated File) The final Todo Project */


/* Lesson - 9 #Arrays(Part 2) */


/* #Arrays(part-2) Exercise */


/* Lesson - 12 #Advanced Functions */


/* #Advanced Functions Exercises */