body {
    box-sizing: border-box;
    margin: 0;
    height: 200vw;
    display: grid;
    row-gap: 40px;
    background-color: black;
    grid-template-rows: 800px 100px;
}

p {
    font-family: poppins;
    margin: 0;
}

.navbar_logo {
    height: 70px;
    cursor: pointer;
}

.navbar_logo:hover {
    animation: rotate 0.9s linear 0s 1 forwards;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.for_relative {
    display: flex;
    align-items: center;
    position: relative;
}

.side_navbar {
    background-color: black;
    position: absolute;
    right: 0;
    bottom: -49vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 8vw 3vw 0;
    display: none;
    animation: moveDown 0.3s ease 0s 1 forwards;
    transform-origin: top;
}

@keyframes moveDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.parent_sdn {
    height: 9vw;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.sn_d {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: all 0.5s;
    color: white;
}

.parent_sdn:hover .sn_d {
    color: black;
    background-color: white;
    box-shadow: 10px 10px 4px 0px rgba(255, 255, 255, 0.8);
}

.parent_sdn:hover .sn_d {
    animation: opaDown 0.5s ease 0s 1 forwards;
}

@keyframes opaDown {
    from {
        top: -10px;
        left: -10px;
        opacity: 0;
    }
    to {
        top: 0;
        left: 0;
        opacity: 1;
    }
}

.nv {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #FF9900;
}

.for_relative {
    height: 100%;
    height: 100px;
    padding: 0 13vw;
    justify-content: space-between;
    background-color: rgb(134, 25, 43);
}

.nv_2 {
    display: flex;
}

.navbar_p {
    margin-left: 12px;
    color: white;
    cursor: pointer;
}

.navbar_p_home {
    color: black !important;
}

.navbar_p:hover {
    color: black !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1 {
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

.d1_img {
    height: 600px;
}

.footer_right_icons {
    font-size: 22px;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.5s;
    color: white;
}

.fa-facebook-f {
    padding: 15px 20px;
    color: white;
}

.footer_right_icons:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.4);
}

.d2_1_p {
    font-size: 37px;
    white-space: nowrap;
    color: white;
    font-family: "Playwrite CU", cursive;
}

.d2 {
    display: flex;
    flex-direction: column;
}

.d2_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
}

.d2_2_b {
    height: 60px;
    width: 135px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}

.d2_special {
    flex-direction: row;
    margin: 5px 0 0 -15px;
}

.d2_2 {
    display: flex;
    justify-content: center;
}

.d2_2_b1 {
    margin-right: 15px;
    border: 1px solid #EFDD9B;
    background-color: #FF9900;
}

.d2_2_b1:hover {
    background-color: black;
    border: 1px solid white;
}

.d2_2_b_p_1 {
    transition: all 0.3s;
}

.d2_2_b1:hover .d2_2_b_p_1 {
    color: white !important;
    font-weight: 500;
}

.d2_2_b2 {
    background-color: transparent;
}

.d2_2_b_p {
    font-size: 18px;
    margin-left: 20px;
    font-family: "PT Sans Narrow", sans-serif;
}

.d2_p,
.d1_p {
    white-space: nowrap;
    color: white;
}

.fa-clock,
.fa-location-dot,
.fa-phone {
    color: white;
}

.d2_2_b_p_2 {
    transition: all 0.3s;
    color: white;
}

.d2_2_b {
    transition: all 0.3s;
}

.d2_2_b1:hover .d2_2_b_p_1 {
    color: black;
    font-family: 500;
}

.d2_2_b2:hover {
    background-color: #FF9900;
}

.d2_2_b2:hover .d2_2_b_p_2 {
    color: black;
    font-family: 500;
}

footer {
    display: grid;
    left: 0;
    right: 0;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    position: absolute;
    bottom: 0;
}

.d {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, lime, pink);
}

.d_parent {
    display: flex;
}

.d_special {
    flex-direction: column;
    justify-content: center;
}

.fa-bars {
    font-size: 25px;
    display: none !important;
}

@media (max-width:800px) {
    .nv_1 {
        margin-right: 6vw;
    }
}

@media (max-width: 800px) {
    .navbar_p_7 {
        display: none;
    }
    .fa-solid {
        display: block !important;
    }
}

@media (max-width: 730px) {
    .navbar_p_6 {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar_p {
        display: none;
    }
    .navbar_p_8 {
        display: block;
        font-size: 6.2vw;
    }
    .navbar_logo {
        height: 14vw;
    }
    .side_navbar {
        display: flex;
    }
}

@media (max-width: 1400px) {
    .d1_img {
        height: 42vw;
    }
    .d2_1_p {
        font-size: 2.6vw;
    }
    .d2_2_b2 {
        margin-right: 1.5vw;
    }
    .d2_2_b {
        height: 4.4vw;
        width: 10vw;
    }
    .d2_2_b_p {
        margin-left: 1.3vw;
        font-size: 1.3vw;
    }
}

@media (max-width: 625px) {
    .container {
        margin-top: 30vw;
        flex-direction: column;
    }
    .d1_img {
        height: 75vw;
        margin-right: 2vw;
    }
    .d2_1_p {
        font-size: 5vw;
    }
    .d2_2_b2 {
        margin-right: 2vw;
    }
    .d2_2_b {
        height: 10vw;
        width: 22vw;
    }
    .d2_2_b_p {
        margin-left: 2.4vw;
        font-size: 2.9vw;
    }
}

@media (max-width: 1782px) {
    footer {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        bottom: -110px;
    }
    .d {
        height: 100px;
    }
}

@media (max-width: 821px) {
    footer {
        grid-template-columns: 1fr;
        gap: 10px;
        bottom: -330px;
    }
    .d {
        margin: 0 10px;
    }
    .d_parent_1 {
        margin-left: -2.8vw;
    }
    .d_parent_3 {
        margin-left: -5vw;
    }
}

.invisible {
    display: none;
}