*{
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.card{
    position: relative;
    width: 350px;
    height: 300px;
    perspective: 1000px;
}
.inner_card{
position: absolute;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.card:hover .inner_card{
    transform: rotateY(-180deg);
}
.card_front, 
.card_back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background:linear-gradient(blue, green);
}
.card_back{
    background:linear-gradient(green, blue);
    transform: rotateY(180deg);
}