html {
    background-color: black;
}

.md {
    border: 3px red solid;
    width: 99vw;
    height: 400px;
    display: grid;
}

.d {
    height: 300px;
    width: 200px;
}

.d1 {
    background-color: skyblue;
}

.d2 {
    background-color: rgb(84, 255, 84);
}

.d3 {
    background-color: pink;
}