body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: black;
}

p {
    margin: 0;
    font-family: poppins;
    color: white;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d_p_1 {
    font-size: 44px;
    font-weight: 500;
}

.linear_grdient_text_color {
    background: linear-gradient(to right, #ff2f57, #ff9e12);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.md {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;
}

.fa-main-icons {
    font-size: 48px;
}

.dd {
    border: 1.5px solid grey;
    position: relative;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    width: 400px;
}

.dd_d2_d1_p1 {
    font-size: 30px;
    font-weight: 500;
}

.fa-arrow-right {
    font-size: 32px;
    color: black !important;
}

.dd_d3 {
    position: absolute;
    bottom: -20px;
    right: 30px;
    padding: 10px 13px;
    background: linear-gradient(to right, #ff2f57, #ff9e12);
    border-radius: 60%;
}



.dd_d2_d2 {
    margin-top: 5px;
}

.dd_d2 {
    margin-top: 20px;
}

.fa-arrow-right {
    transition: all 0.7s;
}

.dd_d3:hover .fa-arrow-right {
    transform: translateX(40px);
    opacity: 0;
    color: white !important;
}

@media (max-width:1413px) {
    .md {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1000px) {
    .container {
        padding: 0 70px;
    }
    .md {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 494px) {
    .d_p_1 {
        font-size: 8vw;
    }
    .fd_p_2 {
        font-size: 3vw;
    }
    .container {
        padding: 0 7vw;
    }
    .dd {
        padding: 3vw 3vw 3vw 6vw 3vw;
    }
    .fa-main-icons {
        font-size: 10vw;
    }
    .dd_d2_d1_p1 {
        font-size: 6vw;
    }
    .dd_d2_d2_p1 {
        font-size: 2.8vw;
    }
    .dd {
        width: 80vw;
    }
    .dd_d3{
        padding: 1.3vw 1.5vw;
    }
}