body {
  margin: 0;
  box-sizing: border-box;
  padding: 100px 5vw 80px 5vw;
  display: grid;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
  font-family: poppins;
  white-space: nowrap;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  height: 100px;
  left: 0;
  right: 0;
  padding: 0 80px 0 100px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 435px;
  background-color: black;
  min-width: 0;
}

.n_d1:hover .anim_np_parent_div {
  opacity: 0;
  /* Make all .anim_np_parent_div elements vanish */
  pointer-events: none;
  /* Prevent these elements from blocking hover */
}

.anim_np_parent_div:hover {
  opacity: 1;
  /* Keep the hovered .anim_np_parent_div visible */
  pointer-events: auto;
  /* Ensure it can be interacted with */
  z-index: 100;
  /* Ensure it stays above other elements */
}

.anim_np_parent_div {
  position: relative;
  padding: 10px 5px 10px 10px;
  transition: opacity 0.3s ease-in-out;
  /* Smooth transition effect */
}

/* .anim_np_div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}

.anim_np_parent_div:hover .anim_np_div::after {
  opacity: 1;
} */

.n_d1,
.n_d3 {
  display: flex;
}

.n_d2 {
  margin-right: 10vw;
}

.n_d3_p,
.n_d1_p {
  margin-right: 12px;
  font-weight: 500;
  font-size: 17px;
  color: rgb(160, 160, 160);
  font-family: "Playfair Display", serif;
  cursor: pointer;
}

.n_d3_p:hover,
.n_d1_p:hover {
  color: black;
}

.logo {
  height: 60px;
}


.back_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./Images/pexels-kaip-534757.jpg");
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

.md_p {
  font-size: 35px;
  color: white;
}

.md_p {
  margin-bottom: 5px;
  letter-spacing: 1.3px;
}

.md_2_b {
  border: none;
  border-radius: 3px;
  margin-top: 30px;
  width: 170px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, black, pink);
  transition: 0.3s;
  cursor: pointer;
}

.md_1,
.md_2 {
  margin-left: 7vw;
}

.md_2_b:hover {
  transform: scale(1.05);
}

.md_2_b_p {
  color: white;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.fa-bars {
  display: none !important;
  font-size: 25px;
  margin-left: 2vw;
  cursor: pointer;
}

.fa-bars-staggered {
  display: none !important;
  font-size: 25px;
  margin-right: 2vw;
  cursor: pointer;
}

.logo {
  height: 60px;
  cursor: pointer;
}

@media (max-idth: 1000px) {
  .n_d2 {
    margin: 0 60px;
  }
}

@media (max-width: 1235px) {
  .n_d2 {
    margin: 0 30px;
  }
}

@media (max-width: 960px) {
  .n_d3_p {
    display: none;
  }
  .fa-bars-staggered {
    display: block !important;
  }
  .md_p {
    font-size: 3.3vw;
  }
  .md_2_b {
    height: 6vw;
    width: 15vw;
  }
  .md_2_b_p {
    font-size: 1.3vw;
  }
  /* body {
    padding: 100px 13vw 80px 5vw;
  } */
}

@media (max-width: 840px) {
  .n_d1_p3 {
    display: none;
  }
  .fa-bars {
    display: block !important;
  }
}

@media (max-width: 740px) {
  .n_d1_p2 {
    display: none;
  }
}

@media (max-width: 550px) {

  .n_d2 {
    margin: 0 6vw 0 3vw;
  }
  .n_d1_p1 {
    font-size: 3.7vw;
  }
  .fa-bars,
  .fa-bars-staggered {
    font-size: 5.5vw;
  }
  .logo {
    height: 11vw;
  }
  .nav{
    padding-left: 10vw;
  }
}


@media (max-height: 700px) {
  .container{
    justify-content: top;
    padding-top: 70px;
    
  }
}