body {
    margin: 0;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    font-family: poppins;
}

.nv,
.nv2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
}

.for_extra_margin_in_nv2 {
    display: flex;
    margin-right: 4vw;
}

.nv2 {
    top: 100px;
    justify-content: center;
    display: none;
}

.nv2_p {
    margin-right: 30px;
}

.nv_1_img {
    height: 3.5vw;
    cursor: pointer;
}

.nv_2 {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nv_1_nv_1_p {
    cursor: pointer;
    font-size: 19px;
}

.nv_3 {
    display: flex;
    align-items: center;
}

.nv_1_p {
    margin-right: 25px;
    cursor: pointer;
    font-size: 17px;
    color: black;
    white-space: nowrap;
}

.nv_1_b,
.md_3_b {
    height: 52px;
    width: 220px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: border-top-right-radius 0.4s;
    background-image: linear-gradient(60deg, #E5578F, #CE49D8);
}

.md_3_b:hover,
.nv_1_b:hover {
    border-top-right-radius: 30px;
}

.md_3_b_p {
    color: white;
    font-size: 14px;
}

.nv_1_b_p {
    font-size: 14.5px;
    color: white;
}

.md {
    position: relative;
    display: inline-block;
    margin-left: 9vw;
}

.md_1_p {
    font-size: 3vw;
    font-weight: 600;
    color: white;
}

.md_2 {
    margin: 15px 0 30px 0;
}

.md_2_p {
    font-size: 0.9vw;
}

.img1 {
    position: fixed;
}

.img2 {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 8vw;
    width: 33vw;
    min-width: 400px;
    opacity: 0;
    animation: imgUp forwards 2s ease 2s 1;
}

@keyframes imgUp {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.md_1 {
    position: relative;
    animation: FirstPDivUp forwards 2s ease 0s 1;
    opacity: 0;
}

@keyframes FirstPDivUp {
    0% {
        color: transparent;
        bottom: -70px;
    }
    100% {
        color: black;
        bottom: 0;
        opacity: 1;
    }
}

.md_2 {
    position: relative;
    animation: SecondPDivUp forwards 2s ease 0.6s 1;
    opacity: 0;
}

@keyframes SecondPDivUp {
    0% {
        color: transparent;
        bottom: -70px;
    }
    100% {
        color: black;
        bottom: 0;
        opacity: 1;
    }
}

.md_3_b {
    opacity: 0;
    animation: BUp 2s forwards ease 1s 1;
    position: relative;
}

@keyframes BUp {
    0% {
        background-image: none;
        bottom: -70px;
    }
    100% {
        background-image: linear-gradient(60deg, #E5578F, #CE49D8);
        bottom: 0;
        opacity: 1;
    }
}

.md_3_b_p {
    opacity: 0;
    animation: pInsideButtonUp forwards 1.8s ease 0s 1;
}

@keyframes pInsideButtonUp {
    0% {
        color: transparent;
        margin-top: 150px;
    }
    100% {
        color: white;
        margin-top: 0px;
        opacity: 1;
    }
}

@media (max-width: 1019px) {
    .nv2 {
        display: flex;
        top: 8vw;
    }
    .nv_1_nv_1_p {
        font-size: 18px;
    }
    .nv_2 {
        display: none;
    }
    .nv {
        padding-top: 2vw;
    }

}

.hover_anim {
    position: relative;
}

.hoverAnimDiv::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -30px;
    top: -30px;
    right: -10px;
    left: -10px;
    background-image: linear-gradient(200deg, #E5578F, #CE49D8);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
    z-index: -1;
}

.hover_anim:hover .hoverAnimDiv::after {
    transform: scaleY(1);
}

.nv_1_nv_1_p {
    transition: color 0.5s, font-weight 0.5s;
}

.hover_anim:hover .nv_1_nv_1_p {
    color: white;
    font-weight: 500;
}

@media (max-width: 681px) {
    .nv_1 {
        margin: 0 5vw;
    }
    .nv_3 {
        margin-right: 5vw;
    }
}

@media (max-width: 597px) {
    .nv_1_img {
        height: 8vw;
    }
    .nv_1_p,
    .nv_1_nv_1_p {
        font-size: 2.8vw;
    }
    .nv_1_b_p {
        font-size: 2.6vw;
    }
    .nv_1_b {
        height: 8.5vw;
        width: 37vw;
    }
}

@media (max-width: 1238px) {
    .img2 {
        right: 1vw;
    }
}

@media (max-width: 1135px) {
    .md {
        margin: 0;
    }
    .img2 {
        position: inherit;
        margin: 10vw 0 0 -10vw;
    }
    body {
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        height: 150vh;
    }
}

@media (max-width: 675px) {
    .md {
        margin-left: 5vw;
    }
    .md_1_p {
        font-size: 7.5vw;
    }
    .md_2_p {
        font-size: 2.3vw;
    }
    .md_3_b {
        height: 8.5vw;
        width: 36vw;
    }
    .md_3_b_p {
        font-size: 2.4vw;
    }
}